.container {
  display: flex;
  flex-direction: row;
  font-size: 22px;
  width: auto;
  margin: 110px;
  padding: 210px;
  border-radius: 10px;
  box-shadow: 0 0 15px #cecece;
}

.home {
  display: flex;
  flex-direction: start;

}

.home .title {
  padding-bottom: 20px;
}

.home-left .title .paragraph {
  text-align: justify;
}

.buttonAndSocial button {
  background-color: black;
  color: white;
  border-radius: 10px;
  margin-top: 30px;
  margin-right: 15px;
  margin-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 15px;
}

.social {
  font-size: 30px;
}

.social a {
  padding-left: 10px;
}

.home-right {
  display: flex;
  justify-content: flex-end;
}

.card {
  width: 450px;
  display: inline-block;
  margin: 10px;
  padding: 0;
  border-radius: 20px;
  box-shadow: 0 0 15px #cecece;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card h3, h5 {
  text-align: center;
}
