@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap");

* {
  text-decoration: none;
  color: black;
  font-family: poppins;
}

.container {
  font-size: 20px;
  width: auto;
  margin: 100px;
  text-align: center;
  padding: 80px 500px 80px;
  border-radius: 10px;
  box-shadow: 0 0 15px #cecece;
}

.headding {
  text-align: justify;
}

.headding button {
  background-color: black;
  color: white;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 15px;
}

.downloadCv p {
  padding-right: 3px;
  text-align: justify;
}

.social {
  font-size: 28px;
}

.card1 {
  width: 400px;
  display: inline-block;
  margin: 10px;
  padding: 0;
  border-radius: 20px;
  box-shadow: 0 0 15px #cecece;
  align-items: center;
}

.card1 img {
  width: 100%;
  border-radius: 10px;
}
